* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	color: #3B444F;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.tallSlides ul {
	display: flex;
	margin-left: -4px;
	color: #fff;
}
.tallSlides ul li {
	flex-wrap: wrap;
	width: 25%;
	padding-left: 4px;
	position: relative;
}

.cover img {
	width: 100%;
}
.text {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -25%);
}
.caption {
	font-size: 28px;
	font-weight: 200;
	line-height: 1.2;
}
.link {
	font-size: 14px;
}
.link span{
	color: #FFF;
	position: relative;
	padding-right: 16px;
}
.link span::after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 6px;
	height: 6px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg);
	margin-top: -3px;
}
